APPSMITH_ENCRYPTION_PASSWORD=<your_encryption_password>
APPSMITH_ENCRYPTION_SALT=<your_encryption_salt>

POSTGRES_USER=<your_postgres_user>
POSTGRES_PASSWORD=<your_postgres_password>
POSTGRES_DB=<your_postgres_db>

MYSQL_ROOT_PASSWORD=<your_mysql_root_password>

NODE_RED_CREDENTIAL_SECRET=<your_node_red_credential_secret>