============================= test session starts ==============================
platform linux -- Python 3.12.3, pytest-9.0.2, pluggy-1.6.0
rootdir: /home/aihunter/Programming/SHRDC_Internship/appsmith
plugins: anyio-4.12.0
collected 0 items / 3 errors

==================================== ERRORS ====================================
____________ ERROR collecting stacks/data/postgres/main/base/16386 _____________
/usr/lib/python3.12/pathlib.py:894: in is_file
    return S_ISREG(self.stat().st_mode)
                   ^^^^^^^^^^^
/usr/lib/python3.12/pathlib.py:842: in stat
    return os.stat(self, follow_symlinks=follow_symlinks)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
E   PermissionError: [Errno 13] Permission denied: '/home/aihunter/Programming/SHRDC_Internship/appsmith/stacks/data/postgres/main/base/16386/conftest.py'
_____________________ ERROR collecting tests/graph_test.py _____________________
ImportError while importing test module '/home/aihunter/Programming/SHRDC_Internship/appsmith/tests/graph_test.py'.
Hint: make sure your test modules/packages have valid Python names.
Traceback:
/usr/lib/python3.12/importlib/__init__.py:90: in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
tests/graph_test.py:2: in <module>
    from appsmith.aps_backend.route_repository import RouteRepository
E   ModuleNotFoundError: No module named 'appsmith'
___________________ ERROR collecting tests/scheduler_test.py ___________________
ImportError while importing test module '/home/aihunter/Programming/SHRDC_Internship/appsmith/tests/scheduler_test.py'.
Hint: make sure your test modules/packages have valid Python names.
Traceback:
/usr/lib/python3.12/importlib/__init__.py:90: in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
tests/scheduler_test.py:2: in <module>
    from aps_backend.scheduler import generate_schedule, pick_machine
E   ModuleNotFoundError: No module named 'aps_backend'
=========================== short test summary info ============================
ERROR stacks/data/postgres/main/base/16386 - PermissionError: [Errno 13] Perm...
ERROR tests/graph_test.py
ERROR tests/scheduler_test.py
!!!!!!!!!!!!!!!!!!! Interrupted: 3 errors during collection !!!!!!!!!!!!!!!!!!!!
============================== 3 errors in 0.78s ===============================
